.MainHeading{
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.1;
    background: linear-gradient(90deg, #96A69F 0%, #96A69F 35%, var(--PrimColor) 100%);
    background: -webkit-linear-gradient(90deg, #96A69F 0%, #96A69F 35%, var(--PrimColor) 100%);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    

}
.SecondaryHeading{   
    font-size: 2rem;
    color: var(--SecColor);
    line-height: 1.5;
}
.myWidth{
    width :70%;
}
@media (max-width: 1590px) {
    .MainHeading {
        font-size: 3rem;
    }
    
.SecondaryHeading{
        font-size: 1.5rem;
}

}

@media (max-width: 1200px) {
    .MainHeading {
        font-size: 3rem;
    }
    
.myWidth{
    width :90%;
}
    
.SecondaryHeading{
        font-size: 1.2rem;
}

}

@media (max-width: 576px) {
    .MainHeading {
        font-size: 1.5rem;
    }
    
.myWidth{
    width :100%;
}
.SecondaryHeading{
        font-size: .9rem;
}


}
