.MainHeading{
        font-size: 5rem;
        font-weight: 900;
        line-height: 1.3;
        background: linear-gradient(90deg, var(--mainHeadingSecColor) 0%, var(--mainHeadingSecColor) 35%, var(--PrimColor) 100%);
        background: -webkit-linear-gradient(90deg, var(--mainHeadingSecColor) 0%, var(--mainHeadingSecColor) 35%, var(--PrimColor) 100%);
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        color: transparent ;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.MainHeading::selection {
    background-color: var(--PrimColor);
    background-clip:initial ;
    -webkit-background-clip: initial;
    -moz-background-clip: initial;
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;
    color: white;
  }
.SecondaryHeading{
    
    font-size: 1.8rem;
    color: var(--SecColor);
    line-height: 1.7;
}
.SearchLink{
    font-size: 1.75rem;
    color: var(--whiteToBlack) ;
    text-decoration: none;
    padding:0.75rem 1.5rem ;
    border-radius: 1rem;
    background-color: var(--PrimColor);
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-weight: 500;
    margin-top:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.SearchLink:hover{
    color: white;
    text-decoration: none;
    padding:0.75rem 1.5rem ;
    cursor:pointer;
    background-color: var(--PrimColorHover);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.myVh-100{
    height: 100vh;
}

@media (max-width: 1199px) {
    .MainHeading {
        font-size: 3rem;
    }
    
.SecondaryHeading{
        font-size: 1.5rem;
}
.SearchLink{
    font-size: 1.5rem;
    padding:0.4rem 0.6rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.myVh-100{
    height: auto;
}
}

@media (max-width: 768px) {
    .MainHeading {
        font-size: 3rem;
        text-align: center;

    }
    
.SecondaryHeading{
    text-align: center;

        font-size: 1.5rem;
}
.SearchLink{
    font-size: 1.5rem;
    padding:0.4rem 0.6rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.myVh-100{
    height: auto;
}
}

@media (max-width: 576px) {
    .MainHeading {
        font-size: 2rem;
        text-align: center;
    }
.SecondaryHeading{
        font-size: 1.3rem;
        text-align: center;
}
.SearchLink{
    font-size:1.25rem;
    padding:0.4rem 0.6rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.myVh-100{
    height: auto;
}

.SearchLink:hover{
    color: white;
    text-decoration: none;
    padding:0.3rem 0.5rem ;
    border-radius: 1rem;
    background-color: var(--PrimColorHover);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
}
