nav a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    -moz-text-decoration: none;
    -webkit-text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    
}
  

/* Select the "Us" suffix in the "Contact Us" link */
.navItemCircle::after {
    content: "Us";
    margin-left:5px ;
    color: white;
    font-weight: bolder;
    /*Setthebackgroundcolortogreen*/background-color:var(--PrimColor);
    /*Setthedisplaypropertytoinline-blocktomaketheelementablock-levelelementwithinlineproperties*/display: inline-block;
    /*Settheborder-radiuspropertyto50%tomaketheelementacircle*/border-radius: 50%;
    /*Setthepaddingpropertytoaddsomespacearoundthetext*/padding: 15px 30px 15px 0.03em ;
    transition:all .5s ease-in-out ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition:all .5s ease-in-out ;
    -moz-transition:all .5s ease-in-out ;
    -ms-transition:all .5s ease-in-out ;
    -o-transition:all .5s ease-in-out ;
}
.navItemSelectedCircle::before {
    content: "Contact";
    color: white;
    font-weight: bolder;
    /*Setthebackgroundcolortogreen*/background-color:var(--PrimColor);
    /*Setthedisplaypropertytoinline-blocktomaketheelementablock-levelelementwithinlineproperties*/display: inline-block;
    /*Settheborder-radiuspropertyto50%tomaketheelementacircle*/border-radius: 50%;
    /*Setthepaddingpropertytoaddsomespacearoundthetext*/padding: 15px 0px 15px 20px ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease-in-out ;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out ;
    -ms-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
}
.selectedNavElement{
    color: var(--PrimColor)!important;
    font-weight: bolder!important;
    text-decoration: underline!important;
    -moz-text-decoration:underline !important;
    -webkit-text-decoration:underline !important;
}
.nav-link{
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
}