.socialMember{
    width: 25px;
    height: 25px;
    background-color: var(--whiteToBlack);
    margin:0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: scale 0.5s;
    -webkit-transition: scale 0.5s;
    -moz-transition: scale 0.5s;
    -ms-transition: scale 0.5s;
    -o-transition: scale 0.5s;
}
.socialMember:hover{
    scale: 1.3;
}
.socialMember a{
    color:var(--blackToWhite);
    transition: color 0.5s,scale 0.5s ;
    -webkit-transition: color 0.5s,scale 0.5s ;
    -moz-transition: color 0.5s,scale 0.5s ;
    -ms-transition: color 0.5s,scale 0.5s ;
    -o-transition: color 0.5s,scale 0.5s ;
}
.socialMember a:hover{
    color: var(--PrimColor);
    scale:1.3;
}
.socialMember a:active{
    scale: 0.9;   
}
