:root{
  --PrimColor:#377676;
  --PrimColorHover:hsl(180, 37%, 24%);
  /* --PrimColorHover:#2b5e5e; */
  --SecColor:#717171;
}
.bg-primColor{
  background-color: var(--PrimColor)!important;
}
.bg-primColorHover{
  background-color: var(--PrimColorHover)!important;
}
.bg-secColor{
  background-color: var(--SecColor)!important;
}
.text-primColor{
  color: var(--PrimColor)!important;
}
.text-secColor{
  color: var(--SecColor)!important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.myVh-100{
  height: calc(100vh - 120px);
}

/* style for every Button */
.sButton {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.sButtonGreen {
  color: white;
  background-color: var(--PrimColor);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.sButtonGreen:hover {
  text-decoration: none;
  background-color: var(--PrimColorHover);
}

.sButtonWhite {
  color: var(--PrimColor);
  background-color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.sButtonWhite:hover {
  color: var(--PrimColorHover);
  text-decoration: none;
  background-color: white;
}
/* width for search input */
.widthForSearch{
  width: 50%;
}

::selection {
  color: white;
  background-clip: initial;   
  background-color: var(--PrimColor);
}
@media (max-width: 1199px) {
  

.myVh-100{
  height: auto;
}
}

@media (max-width: 768px) {
  

.myVh-100{
  height: auto;
}
.widthForSearch{
  width: 100%;
}
}

@media (max-width: 576px) {
  
.myVh-100{
  height: auto;
}

.widthForSearch{
  width: 100%;
}
}
/* -------------------------form control by Amooor 😘----------------------------------- */

.form-control-Amoor {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b1b4b7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Hover CSS */

.form-control-Amoor:hover {
  border-color: #377676;
  box-shadow: 0 0 0 0.2rem rgb(55, 118, 118,0.25);
}

/* Focus CSS */

.form-control-Amoor:focus {
  outline: none;
  border-color: #377676;
  box-shadow: 0 0 0 0.2rem rgb(55, 118, 118,0.25);
}

/* Disabled CSS */

.form-control-Amoor:disabled, .form-control-Amoor[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}

/* Validation CSS */

.form-control-Amoor.is-valid {
  border-color: #377676;
  box-shadow: 0 0 0 0.2rem rgb(55, 118, 118,0.25);
}

.form-control-Amoor.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* Before CSS */

.form-control-Amoor::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ced4da;
  transition: transform 0.15s ease-in-out;
}

/* After CSS */

.form-control-Amoor::after {
  content: "";
  display: block;
  width: 0;
  height: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #377676;
  transition: transform 0.15s ease-in-out;
}

/* Focus Before CSS */

.form-control-Amoor:focus::before {
  transform: scaleX(1);
}

/* Focus After CSS */

.form-control-Amoor:focus::after {
  transform: scaleX(1);
}

/* -------------------------form select by Amooor 😘----------------------------------- */
/* Default CSS */

.form-select-Amoor {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#343a40' stroke-width='1.5' stroke-linecap='round' d='M2 5l6 6 6-6'/></svg>");
  background-repeat: no-repeat;
  background-position-x: right 0.75rem;
  background-position-y: center;
  border: 1px solid #b1b4b7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Focus CSS */

.form-select-Amoor:focus {
  border-color: #377676;
  box-shadow: 0 0 0 0.2rem rgb(55, 118, 118,0.25);
  outline: none;
}

/* Disabled CSS */

.form-select-Amoor:disabled, .form-select-Amoor[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}

/* Validation CSS */

.form-select-Amoor.is-valid {
  border-color: #377676;
  box-shadow: 0 0 0 0.2rem rgb(55, 118, 118,0.25);
}

.form-select-Amoor.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* .form-select-Amoor option:checked {
  background-color: #007bff;
}
.form-select-Amoor:focus option:checked {
  background-color: #007bff;
} */
/* write media query for screen */

@media screen and (max-width: 650px) {
  .m-smalldevice-auto{
    margin: auto;
  }
}